.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow, .grow {
  flex-grow: 1;
}

.flex-nogrow {
  flex-grow: 0;
}

.flex-noshrink {
  flex-shrink: 0;
}

.items {
  &-start { align-items: flex-start; }
  &-end { align-items: flex-end; }
  &-center { align-items: center; }
  &-baseline { align-items: baseline; }
  &-stretch { align-items: stretch; }
}

.justify {
  &-start { justify-content: flex-start; }
  &-end { justify-content: flex-end; }
  &-center { justify-content: center; }
  &-baseline { justify-content: baseline; }
  &-stretch { justify-content: stretch; }
  &-between { justify-content: space-between; }
  &-around { justify-content: space-around; }
  &-evenly { justify-content: space-evenly; }
}

.self {
  &-start { align-self: flex-start; }
  &-end { align-self: flex-end; }
  &-center { align-self: center; }
  &-stretch { align-self: stretch; }
  &-baseline { align-self: baseline; }
}

/*
	Display helpers
*/

.hidden {
  visibility: hidden;
}


.relative {
  position: relative;
}

.absolute {
  position: absolute !important;
}

.events-none {
  pointer-events: none;
}

.none {
  display: none;
}

.cursor {
  &-pointer {
    cursor: pointer;
  }

  &-default {
    cursor: default;
  }
}

$spacing: (0, 1, 2, 4, 5, 6, 8, 10, 12, 16, 20, 24, 26, 28, 30, 32, 36, 40, 42, 46, 48, 56, 64, 80, 96, 120, 128, 160, 192, 224, 256);
$sides: (
  t: (top),
  r: (right),
  b: (bottom),
  l: (left),
  x: (left, right),
  y: (top, bottom)
);

@each $space in $spacing {
  @each $short, $rule in (p: 'padding', m: 'margin') {
    .#{$short}-#{$space} {
      #{$rule}: #{$space}px;
    }

    .#{$short}-#{$space}-important {
      #{$rule}: #{$space}px;
    }
  }
}
@each $spell, $sideTypes in $sides {
  @each $space in $spacing {
    @each $short, $rule in (p: 'padding', m: 'margin') {
      .#{$short}#{$spell}-#{$space} {
        @each $s in $sideTypes {
          #{$rule}-#{$s}: #{$space}px;
        }
      }

      .#{$short}#{$spell}-#{$space}-important {
        @each $s in $sideTypes {
          #{$rule}-#{$s}: #{$space}px !important;
        }
      }
    }
  }
}

.w-full {
  width: 100%;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.mt-auto {
  margin-top: auto;
}

.m-auto {
  margin: auto;
}


